html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
}

* {
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: map_get($Colors,bodyBackground);
  color: map_get($Colors,fontColor);
}

.grid-container {
  width : 100%;
  max-width : 960px;
  margin: 0 auto;
}

@each $columns in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
  .col-#{$columns} {
    width: calc(8.33% * #{$columns} - 4px);
    display: inline-block;
    margin: -2px;
    text-align: center;
  }
}



// Top section

.top-section {
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed;
  .space{
    top:0;
    height: 20px;
  }
  .navbar {
    z-index: 20;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 50px;
    background: map_get($Colors,greenMotive) !important;
    vertical-align: middle;
    opacity: 0.9;
    position: fixed;
    .my-name {
      font-size: 2.5em;
      text-align: left;
      line-height: 0.7;
      list-style: none;
      width: 40%;
      float: left;
      vertical-align: middle;
      padding-left: 30px;
      a{
        text-decoration: none;
      }
      .span1 {
        color: white;
      }
      .span2 {
        color: map_get($Colors,kubiakFont);
      }
    }
    .menu {
      list-style: none;
      text-align: right;
      color: map_get($Colors,menuColor);
      li {
        vertical-align: middle;
        font-size: 1.5em;
        height: 50px;
        float: right;
        a {
          display: block;
          text-decoration: none;
          color: white;
          padding-left: 30px;
          padding-right: 30px;
          &:hover {
            color: map_get($Colors,greenMotive);
            background: white;
            background-size: 100px;
          }
        }
      }
    }
  }
  header {
    width: 100%;
    height: 300px;
    .opacity-background {
      height: 150px;
      margin-top: 100px;
      background: #444444;
      opacity: 0.9;
      .head {
        z-index: 20;
        color: white;
        text-align: center;
        font-size: 2.2em;

        padding-top: 20px;
      }
    }
  }
}

.faded{
  opacity: 0;
}



// option circles

.three-options {
  padding: 15px 0 80px 0;
  a{
    text-decoration: none;
    color:  map_get($Colors,fontColor);
  }
  .circle {
    width: 160px;
    height: 160px;
    background: map_get($Colors,greenMotive);
    border-radius: 50%;
    margin: 60px auto 30px;
    text-align: center;
  }
  .circle1 {
    background: url(../images/ja.png);
  }
  .circle2 {
    background: url(../images/Clipboard.png);
  }
  .circle3 {
    background: url(../images/contact.png);
  }
  [class*="-option"] {
    p {
      font-size: 2.5em;
    }
  }
}


// 'o mnie' section

#omnie{
  padding: 150px 0 110px 0;
  color: #838383;
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 760px;
  .omnie-container{
    vertical-align: bottom;
  }
  p{
    background: #505050;
    opacity: 0.9;
    padding: 30px;
    font-size: 1.2em;
    text-align: left;
    .special{
      color: rgba(12, 185, 173, 1);
      font-weight: bold;
    }
    a{
      color: rgba(12, 185, 173, 1);
      text-decoration: none;
      font-weight: bold;
      &:hover{
        color: black;
      }
    }
  }
  .circle{
    width: 350px;
    height: 350px;
    background: map_get($Colors, greenLighter);
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../images/legit2.jpg);
  }
  .socials{
    .git{
      width: 40%;
      display: inline-block;
      text-align: right;
      img{
        height: 80px;
        width: 80px;
      }
    }
    .linkedin{
      width: 40%;
      display: inline-block;
      text-align: left;
      img{
        height: 80px;
        width: 80px;
      }
    }
  }
  .button{
    height: 40px;
    width: 330px;
    padding-top: 5px;
    margin: 20px auto 0;
    font-size: 1.4em;
    text-align: center;
    border: 1px solid map_get($Colors,greenMotive);
    background: map_get($Colors,greenMotive);
    border-radius: 7px;
    display: inline-block;
    &:hover{
      background: aliceblue;
      border: 1px solid map_get($Colors,kubiakFont);
      color: map_get($Colors, fontColor);
    }
  }
  a{
    text-decoration: none;
    color: white;
    &:hover{
      color: map_get($Colors, fontColor);
    }
  }
}


// portfolio section

#portfolio{
  padding: 120px 0 120px 0;
  h1{
    margin: 0 auto;
    width: 500px;
    color: #aeaeae;
    padding: 10px;
    text-align: center;
    background: #7f7f7f;
    opacity: 0.9;
    border-radius: 7px;
  }
  .blocks{
    display: inline-block;
    img{
      width: 100%;
      padding: 20px;
      &:hover{
      opacity: 0.5;
      }
    }
    }

}


// contact section

#kontakt{
  height: 1000px;
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 150px 0 110px 0;
}





.form {
  text-align: left;
}

.name {
  width: 98%;
  border: 1px solid #000;
  height: 60px;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.name:hover {
  border: 1px solid #9f449b;
}

.email {
  width: 98%;
  height: 60px;
  color: #000;
  border: 1px solid #000;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.email:hover {
  border: 1px solid #9f449b;
}

.textarea {
  width: 98%;
  height: 250px;
  font-size: 1.5em;
  border: 1px solid #000;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.textarea:hover {
  border: 1px solid #9f449b;
}
.textarea:focus {
  border: 1px solid #add8e6;
}

#submit {
  padding-top: 5px;
  font-size: 1.3em;
  color: white;
  background: #9f449b;
  border-radius: 7px;
  height: 70px;
  width: 220px;
  box-shadow: 3px 4px 2px #9f449b;
}
#submit:hover {
  background: #fff;
  border: 1px solid purple;
  color: #9f449b;
}

.contactdata {
  vertical-align: top;
  text-align: left;
  font-size: 1.2em;
}
.contactdata p {
  padding-bottom: 8%;
}
.contactdata .contacttext {
  color: #676767;
}
.contactdata .adress {
  font-weight: bold;
  color: #222222;
}
.contactdata .telephone {
  font-weight: bold;
  color: #222222;
}

.social {
  display: inline-block;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.facebook {
  background-image: url(../images/f.png);
}
.facebook:hover {
  background-image: url(../images/fhr.png);
}

.twitter {
  background-image: url(../images/t.png);
}
.twitter:hover {
  background-image: url(../images/thr.png);
}

.google {
  background-image: url(../images/g.png);
}
.google:hover {
  background-image: url(../images/ghr.png);
}

@media (max-width: 400px), (min-width: 400px) and (max-width: 690px) {
  .contactcontent {
    text-align: center;
  }

  form {
    text-align: center;
    width: 100%;
  }

  .email {
    font-size: 1em;
  }

  .name {
    font-size: 1em;
  }

  .textarea {
    font-size: 1em;
  }

  #submit {
    margin: 0 auto;
    width: 100%;
    font-size: 0.9em;
  }

  .contactdata {
    width: 80%;
    margin: 0 auto;
  }
}
.totopbottom {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.companyname3 {
  font-family: Existence, Lato, sans-serif;
  font-size: 2.8em;
  font-weight: bold;
  color: #676767;
  line-height: 0.3;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 8%;
}
.companyname3 span {
  color: #9f449b;
}





