html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: map_get($Colors, bodyBackground);
  color: map_get($Colors, fontColor);
}

.grid-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

@each $columns in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
  .col-#{$columns} {
    width: calc(8.33% * #{$columns} - 4px);
    display: inline-block;
    margin: -2px;
    text-align: center;
  }
}

// Top section

.top-section {
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed;
  .space {
    top: 0;
    height: 20px;
  }
  .navbar {
    z-index: 20;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 50px;
    background: map_get($Colors, greenMotive) !important;
    vertical-align: middle;
    opacity: 0.9;
    position: fixed;
    @media #{$tabletBig} {
      font-size: 0.8em;
    }
    @media #{$tabletMedium} {
      font-size: 0.7em;
      padding-top: 14px;
    }
    @media #{$tabletSmall, $smartphone} {
      font-size: 0.7em;
      text-align: right;
    }
    .my-name {
      font-size: 2.5em;
      text-align: left;
      line-height: 0.7;
      list-style: none;
      width: 40%;
      float: left;
      vertical-align: middle;
      padding-left: 30px;
      @media #{$tabletBig} {
        line-height: 0.8;
      }
      @media #{$tabletMedium} {
        line-height: 0.8;
        font-size: 2.3em;
      }
      @media #{$tabletSmall} {
        line-height: 0.8;
        font-size: 3em;
        width: 80%;
      }
      @media #{$smartphone} {
        line-height: 0.7;
        font-size: 2em;
        width: 80%;
      }
      a {
        text-decoration: none;
      }
      .span1 {
        color: white;
      }
      .span2 {
        color: map_get($Colors, kubiakFont);
      }
    }
    .menu {
      list-style: none;
      text-align: right;
      color: map_get($Colors, menuColor);
      li {
        vertical-align: middle;
        font-size: 1.5em;
        height: 50px;
        float: right;
        @media #{$tabletSmall, $smartphone} {
          display: none;
        }
        a {
          display: block;
          text-decoration: none;
          color: white;
          padding-left: 30px;
          padding-right: 30px;
          @media #{$tabletBig} {
            padding-right: 18px;
          }
          @media #{$tabletMedium} {
            padding-right: 15px;
          }
          &:hover {
            color: map_get($Colors, greenMotive);
            background: white;
            background-size: 100px;
          }
        }
      }
    }
  }
  .hamburger {
    img {
      cursor: pointer;
      @media #{$tabletBig, $desktop, $tabletMedium} {
        display: none;
      }
      height: 70px;
      right: 30px;
      float: right;
      position: absolute;
      top: 0;
    }
  }
  .menu-hamburger {
    text-align: center;
    font-size: 2.3em;
    background: black;
    margin-top: 25px;
    .ham {
      width: 100%;
    }
    a {
      color: white;
    }
    @media #{$tabletBig, $desktop, $tabletMedium} {
      display: none;
    }
  }
  .unwind {
    height: 0;
    font-size: 0;
    opacity: 0;
  }
  header {
    width: 100%;
    height: 300px;
    .opacity-background {
      height: 150px;
      margin-top: 100px;
      background: #444444;
      opacity: 0.9;
      @media #{$tabletBig} {
        height: 115px;
      }
      @media #{$tabletMedium} {
        height: 100px;
      }
      @media #{$tabletSmall, $smartphone} {
        height: 100px;
        width: 100%;
      }
      .head {
        z-index: 20;
        color: white;
        text-align: center;
        font-size: 2.2em;
        padding-top: 20px;
        @media #{$tabletBig} {
          font-size: 1.5em;
        }
        @media #{$tabletMedium} {
          font-size: 1.1em;
        }
        @media #{$tabletSmall, $smartphone} {
          font-size: 1.1em;
        }
        @media #{$verySmall} {
          font-size: 0.9em;
          padding-top: 30px;
          p {
            display: none;
          }
        }
      }
    }
  }
}

.faded {
  opacity: 0;
}

// option circles

.three-options {
  padding: 15px 0 80px 0;
  a {
    text-decoration: none;
    color: map_get($Colors, fontColor);
  }
  .option {
    @media #{$tabletSmall, $smartphone} {
      width: 100%;
    }
  }
  .circle {
    width: 160px;
    height: 160px;
    background: map_get($Colors, greenMotive);
    border-radius: 50%;
    margin: 60px auto 30px;
    text-align: center;
  }
  .circle1 {
    background: url(../images/ja.png);
  }
  .circle2 {
    background: url(../images/Clipboard.png);
  }
  .circle3 {
    background: url(../images/contact.png);
  }
  [class*="-option"] {
    p {
      font-size: 2.5em;
      @media #{$tabletMedium} {
        font-size: 1.8em;
      }
      @media #{$tabletSmall, $smartphone} {
        font-size: 1.5em;
      }
    }
  }
}

// 'o mnie' section

#omnie {
  padding: 150px 0 110px 0;
  color: #838383;
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
  @media #{$tabletSmall, $smartphone} {
    height: 940px;
  }
  .omnie-container {
    vertical-align: bottom;
  }
  .txt {
    @media #{$tabletSmall, $smartphone} {
      width: 100%;
    }
  }
  p {
    background: #505050;
    opacity: 0.9;
    padding: 30px;
    font-size: 1.2em;
    text-align: left;
    @media #{$tabletBig, $tabletMedium} {
      font-size: 1em;
    }
    @media #{$tabletSmall, $smartphone} {
      width: 100%;
      font-size: 0.8em;
    }
    .special {
      color: rgba(12, 185, 173, 1);
      font-weight: bold;
    }
    a {
      color: rgba(12, 185, 173, 1);
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: black;
      }
    }
  }
  .omnie-pictures {
    vertical-align: top;
    @media #{$tabletSmall, $smartphone} {
      padding-top: 50px;
      width: 100%;
    }
    .circle {
      width: 350px;
      height: 350px;
      background: map_get($Colors, greenLighter);
      border-radius: 50%;
      margin: 0 auto;
      background-image: url(../images/legit2.jpg);
      background-size: cover;
      @media #{$tabletBig} {
        width: 300px;
        height: 300px;
      }
      @media #{$tabletMedium} {
        width: 220px;
        height: 220px;
      }
      @media #{$tabletSmall, $smartphone} {
        width: 160px;
        height: 160px;
      }
    }
  }
  .socials {
    padding-top: 30px;
    @media #{$tabletMedium} {
      vertical-align: top;
      padding-top: 40px;
    }
    .git {
      width: 40%;
      display: inline-block;
      text-align: right;

      img {
        height: 80px;
        width: 80px;
      }
    }
    .linkedin {
      width: 40%;
      display: inline-block;
      text-align: left;
      img {
        height: 80px;
        width: 80px;
      }
    }
  }
  .button {
    height: 40px;
    width: 330px;
    padding-top: 5px;
    margin: 30px auto 0;
    font-size: 1.4em;
    text-align: center;
    border: 1px solid map_get($Colors, greenMotive);
    background: map_get($Colors, greenMotive);
    border-radius: 7px;
    display: inline-block;
    &:hover {
      background: aliceblue;
      border: 1px solid map_get($Colors, kubiakFont);
      color: map_get($Colors, fontColor);
    }
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: map_get($Colors, fontColor);
    }
  }
}

// portfolio section

#portfolio {
  padding: 120px 0 120px 0;
  @media #{$smartphone} {
    padding: 90px 0 120px 0;
  }
  h1 {
    margin: 0 auto;
    width: 500px;
    color: #aeaeae;
    padding: 10px;
    text-align: center;
    background: #7f7f7f;
    opacity: 0.9;
    border-radius: 7px;
    @media #{$tabletSmall} {
      width: 300px;
      font-size: 0.9em;
      margin-bottom: 20px;
    }
    @media #{$smartphone} {
      width: 200px;
      font-size: 0.8em;
      margin-top: 50px;
      margin-bottom: 20px;
    }
  }
  .blocks {
    display: inline-block;
    @media #{$tabletSmall, $smartphone} {
      width: 100%;
    }
    img {
      width: 100%;
      padding: 20px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

// contact section

#kontakt {
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 180px 0 70px 0;
  .form {
    text-align: center;
    @media #{$tabletSmall, $smartphone} {
      width: 100%;
    }
  }
  .name {
    width: 98%;
    border: 1px solid #000;
    height: 60px;
    font-size: 1.5em;
    margin-bottom: 20px;
    &:hover {
      border: 2px solid map_get($Colors, greenMotive);
    }
  }
  .email {
    width: 98%;
    height: 60px;
    color: #000;
    border: 1px solid #000;
    font-size: 1.5em;
    margin-bottom: 20px;
    &:hover {
      border: 2px solid map_get($Colors, greenMotive);
    }
  }
  .textarea {
    width: 98%;
    height: 250px;
    font-size: 1.5em;
    border: 1px solid #000;
    margin-bottom: 20px;
    padding-bottom: 15px;
    &:hover {
      border: 2px solid map_get($Colors, greenMotive);
    }
  }
  #submit {
    font-size: 1.3em;
    color: white;
    background: map_get($Colors, greenMotive);
    border-radius: 7px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    &:hover {
      background: aliceblue;
      border: 1px solid map_get($Colors, kubiakFont);
      color: map_get($Colors, fontColor);
    }
  }
  .contactdata {
    vertical-align: top;
    color: #838383;
    background: #505050;
    opacity: 0.9;
    padding: 30px;
    font-size: 1.2em;
    text-align: left;
    @media #{$tabletBig} {
      font-size: 1em;
    }
    @media #{$tabletMedium} {
      font-size: 0.9em;
    }
    @media #{$tabletSmall, $smartphone} {
      width: 100%;
      text-align: center;
    }
    p {
      padding-bottom: 8%;
    }
  }
  .socials {
    display: inline-block;
    text-align: center;
    div {
      margin: 0 auto;
      padding: 30px 30px 10px 30px;
      text-align: center;
      img {
        display: inline-block;
        height: 80px;
        width: 80px;
      }
    }
  }
}