html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
}

* {
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: map_get($Colors,bodyBackground);
  color: map_get($Colors,fontColor);
}

.grid-container {
  width : 100%;
  max-width : 960px;
  margin: 0 auto;
}

@each $columns in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
  .col-#{$columns} {
    width: calc(8.33% * #{$columns} - 4px);
    display: inline-block;
    margin: -2px;
    text-align: center;
  }
}



// Top section

.top-section {
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed;
  .space{
    top:0;
    height: 20px;
  }
  .navbar {
    z-index: 20;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 50px;
    background: map_get($Colors,greenMotive) !important;
    vertical-align: middle;
    opacity: 0.9;
    position: fixed;
    .my-name {
      font-size: 2.5em;
      text-align: left;
      line-height: 0.7;
      list-style: none;
      width: 40%;
      float: left;
      vertical-align: middle;
      padding-left: 30px;
      a{
        text-decoration: none;
      }
      .span1 {
        color: white;
      }
      .span2 {
        color: map_get($Colors,kubiakFont);
      }
    }
    .menu {
      list-style: none;
      text-align: right;
      color: map_get($Colors,menuColor);
      li {
        vertical-align: middle;
        font-size: 1.5em;
        height: 50px;
        float: right;
        a {
          display: block;
          text-decoration: none;
          color: white;
          padding-left: 30px;
          padding-right: 30px;
          &:hover {
            color: map_get($Colors,greenMotive);
            background: white;
            background-size: 100px;
          }
        }
      }
    }
  }
  header {
    width: 100%;
    height: 300px;
    .opacity-background {
      height: 150px;
      margin-top: 100px;
      background: #444444;
      opacity: 0.9;
      .head {
        z-index: 20;
        color: white;
        text-align: center;
        font-size: 2.2em;

        padding-top: 20px;
      }
    }
  }
}

.faded{
  opacity: 0;
}



// option circles

.three-options {
  padding: 15px 0 80px 0;
  a{
    text-decoration: none;
    color:  map_get($Colors,fontColor);
  }
  .circle {
    width: 160px;
    height: 160px;
    background: map_get($Colors,greenMotive);
    border-radius: 50%;
    margin: 60px auto 30px;
    text-align: center;
  }
  .circle1 {
    background: url(../images/ja.png);
  }
  .circle2 {
    background: url(../images/Clipboard.png);
  }
  .circle3 {
    background: url(../images/contact.png);
  }
  [class*="-option"] {
    p {
      font-size: 2.5em;
    }
  }
}


// 'o mnie' section

#omnie{
  padding: 150px 0 110px 0;
  color: #838383;
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 760px;
  .omnie-container{
    vertical-align: bottom;
  }
  p{
    background: #505050;
    opacity: 0.9;
    padding: 30px;
    font-size: 1.2em;
    text-align: left;
    .special{
      color: rgba(12, 185, 173, 1);
      font-weight: bold;
    }
    a{
      color: rgba(12, 185, 173, 1);
      text-decoration: none;
      font-weight: bold;
      &:hover{
        color: black;
      }
    }
  }
  .circle{
    width: 350px;
    height: 350px;
    background: map_get($Colors, greenLighter);
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../images/legit2.jpg);
  }
  .socials{
    .git{
      width: 40%;
      display: inline-block;
      text-align: right;
      img{
        height: 80px;
        width: 80px;
      }
    }
    .linkedin{
      width: 40%;
      display: inline-block;
      text-align: left;
      img{
        height: 80px;
        width: 80px;
      }
    }
  }
  .button{
    height: 40px;
    width: 330px;
    padding-top: 5px;
    margin: 20px auto 0;
    font-size: 1.4em;
    text-align: center;
    border: 1px solid map_get($Colors,greenMotive);
    background: map_get($Colors,greenMotive);
    border-radius: 7px;
    display: inline-block;
    &:hover{
      background: aliceblue;
      border: 1px solid map_get($Colors,kubiakFont);
      color: map_get($Colors, fontColor);
    }
  }
  a{
    text-decoration: none;
    color: white;
    &:hover{
      color: map_get($Colors, fontColor);
    }
  }
}

#portfolio{
  height: 500px;
}





