$Colors: (
        lakeColor: #24AFB2,
        fontColor: #4b4b4b,
        bodyBackground: #EFEDEA,
        greenMotive: #005155,
        kubiakFont: #b1b1b1,
        menuColor: #343A41,
        headColor: #c6c6c6,
        greenLighter: #00777b
);