html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  background: #EFEDEA;
  color: #4b4b4b; }

.grid-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

.col-1 {
  width: calc(8.33% * 1 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-2 {
  width: calc(8.33% * 2 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-3 {
  width: calc(8.33% * 3 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-4 {
  width: calc(8.33% * 4 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-5 {
  width: calc(8.33% * 5 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-6 {
  width: calc(8.33% * 6 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-7 {
  width: calc(8.33% * 7 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-8 {
  width: calc(8.33% * 8 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-9 {
  width: calc(8.33% * 9 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-10 {
  width: calc(8.33% * 10 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-11 {
  width: calc(8.33% * 11 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.col-12 {
  width: calc(8.33% * 12 - 4px);
  display: inline-block;
  margin: -2px;
  text-align: center; }

.top-section {
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed; }
  .top-section .space {
    top: 0;
    height: 20px; }
  .top-section .navbar {
    z-index: 20;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 50px;
    background: #005155 !important;
    vertical-align: middle;
    opacity: 0.9;
    position: fixed; }
    .top-section .navbar .my-name {
      font-size: 2.5em;
      text-align: left;
      line-height: 0.7;
      list-style: none;
      width: 40%;
      float: left;
      vertical-align: middle;
      padding-left: 30px; }
      .top-section .navbar .my-name a {
        text-decoration: none; }
      .top-section .navbar .my-name .span1 {
        color: white; }
      .top-section .navbar .my-name .span2 {
        color: #b1b1b1; }
    .top-section .navbar .menu {
      list-style: none;
      text-align: right;
      color: #343A41; }
      .top-section .navbar .menu li {
        vertical-align: middle;
        font-size: 1.5em;
        height: 50px;
        float: right; }
        .top-section .navbar .menu li a {
          display: block;
          text-decoration: none;
          color: white;
          padding-left: 30px;
          padding-right: 30px; }
          .top-section .navbar .menu li a:hover {
            color: #005155;
            background: white;
            background-size: 100px; }
  .top-section header {
    width: 100%;
    height: 300px; }
    .top-section header .opacity-background {
      height: 150px;
      margin-top: 100px;
      background: #444444;
      opacity: 0.9; }
      .top-section header .opacity-background .head {
        z-index: 20;
        color: white;
        text-align: center;
        font-size: 2.2em;
        padding-top: 20px; }

.faded {
  opacity: 0; }

.three-options {
  padding: 15px 0 80px 0; }
  .three-options a {
    text-decoration: none;
    color: #4b4b4b; }
  .three-options .circle {
    width: 160px;
    height: 160px;
    background: #005155;
    border-radius: 50%;
    margin: 60px auto 30px;
    text-align: center; }
  .three-options .circle1 {
    background: url(../images/ja.png); }
  .three-options .circle2 {
    background: url(../images/Clipboard.png); }
  .three-options .circle3 {
    background: url(../images/contact.png); }
  .three-options [class*="-option"] p {
    font-size: 2.5em; }

#omnie {
  padding: 150px 0 110px 0;
  color: #838383;
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 760px; }
  #omnie .omnie-container {
    vertical-align: bottom; }
  #omnie p {
    background: #505050;
    opacity: 0.9;
    padding: 30px;
    font-size: 1.2em;
    text-align: left; }
    #omnie p .special {
      color: #0cb9ad;
      font-weight: bold; }
    #omnie p a {
      color: #0cb9ad;
      text-decoration: none;
      font-weight: bold; }
      #omnie p a:hover {
        color: black; }
  #omnie .circle {
    width: 350px;
    height: 350px;
    background: #00777b;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../images/legit2.jpg); }
  #omnie .socials .git {
    width: 40%;
    display: inline-block;
    text-align: right; }
    #omnie .socials .git img {
      height: 80px;
      width: 80px; }
  #omnie .socials .linkedin {
    width: 40%;
    display: inline-block;
    text-align: left; }
    #omnie .socials .linkedin img {
      height: 80px;
      width: 80px; }
  #omnie .button {
    height: 40px;
    width: 330px;
    padding-top: 5px;
    margin: 20px auto 0;
    font-size: 1.4em;
    text-align: center;
    border: 1px solid #005155;
    background: #005155;
    border-radius: 7px;
    display: inline-block; }
    #omnie .button:hover {
      background: aliceblue;
      border: 1px solid #b1b1b1;
      color: #4b4b4b; }
  #omnie a {
    text-decoration: none;
    color: white; }
    #omnie a:hover {
      color: #4b4b4b; }

#portfolio {
  padding: 120px 0 120px 0; }
  #portfolio h1 {
    margin: 0 auto;
    width: 500px;
    color: #aeaeae;
    padding: 10px;
    text-align: center;
    background: #7f7f7f;
    opacity: 0.9;
    border-radius: 7px; }
  #portfolio .blocks {
    display: inline-block; }
    #portfolio .blocks img {
      width: 100%;
      padding: 20px; }
      #portfolio .blocks img:hover {
        opacity: 0.5; }

#kontakt {
  height: 1000px;
  background: url(../images/54.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 150px 0 110px 0; }

.form {
  text-align: left; }

.name {
  width: 98%;
  border: 1px solid #000;
  height: 60px;
  font-size: 1.5em;
  margin-bottom: 20px; }

.name:hover {
  border: 1px solid #9f449b; }

.email {
  width: 98%;
  height: 60px;
  color: #000;
  border: 1px solid #000;
  font-size: 1.5em;
  margin-bottom: 20px; }

.email:hover {
  border: 1px solid #9f449b; }

.textarea {
  width: 98%;
  height: 250px;
  font-size: 1.5em;
  border: 1px solid #000;
  margin-bottom: 20px;
  padding-bottom: 15px; }

.textarea:hover {
  border: 1px solid #9f449b; }

.textarea:focus {
  border: 1px solid #add8e6; }

#submit {
  padding-top: 5px;
  font-size: 1.3em;
  color: white;
  background: #9f449b;
  border-radius: 7px;
  height: 70px;
  width: 220px;
  box-shadow: 3px 4px 2px #9f449b; }

#submit:hover {
  background: #fff;
  border: 1px solid purple;
  color: #9f449b; }

.contactdata {
  vertical-align: top;
  text-align: left;
  font-size: 1.2em; }

.contactdata p {
  padding-bottom: 8%; }

.contactdata .contacttext {
  color: #676767; }

.contactdata .adress {
  font-weight: bold;
  color: #222222; }

.contactdata .telephone {
  font-weight: bold;
  color: #222222; }

.social {
  display: inline-block;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px; }

.facebook {
  background-image: url(../images/f.png); }

.facebook:hover {
  background-image: url(../images/fhr.png); }

.twitter {
  background-image: url(../images/t.png); }

.twitter:hover {
  background-image: url(../images/thr.png); }

.google {
  background-image: url(../images/g.png); }

.google:hover {
  background-image: url(../images/ghr.png); }

@media (max-width: 400px), (min-width: 400px) and (max-width: 690px) {
  .contactcontent {
    text-align: center; }

  form {
    text-align: center;
    width: 100%; }

  .email {
    font-size: 1em; }

  .name {
    font-size: 1em; }

  .textarea {
    font-size: 1em; }

  #submit {
    margin: 0 auto;
    width: 100%;
    font-size: 0.9em; }

  .contactdata {
    width: 80%;
    margin: 0 auto; } }
.totopbottom {
  position: fixed;
  bottom: 30px;
  right: 30px; }

.companyname3 {
  font-family: Existence, Lato, sans-serif;
  font-size: 2.8em;
  font-weight: bold;
  color: #676767;
  line-height: 0.3;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 8%; }

.companyname3 span {
  color: #9f449b; }

/*# sourceMappingURL=style.css.map */
